In [1]:
import pandas as pd
import os

os.getcwd()

'/Users/ugo/Documents/MH2D_projets/michlougo/Ligue1'

In [2]:
df_emissions = pd.read_csv("./backend/data/calculated_travels/total_emissions.csv")

In [3]:
df_emissions.head()

,visiting_team,hosting_team,transport_type,emissions_kg_co2,emissions_kg_co2_wo_empty_bus,travel_time_seconds,distance_km,alternative_emissions_kg_co2,alternative_emissions_kg_co2_wo_empty_bus,alternative_travel_time_seconds,alternative_distance_km,alternative_transport_type
0,Paris Saint-Germain,Paris Saint-Germain,/,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0,0.000,NaN
1,Monaco,Paris Saint-Germain,avion,16209.865726,13301.605726,17018.0,1523.655280,3213.670488,305.410488,48598,1750.264,train
2,Brest,Paris Saint-Germain,avion,12453.183654,10697.595654,12540.0,1117.809526,1912.461640,156.873640,29890,1080.256,train
3,Lille,Paris Saint-Germain,bus,680.817000,680.817000,18112.0,453.878000,803.285472,122.468472,13262,453.868,train
4,Nice,Paris Saint-Germain,avion,16062.700726,13221.319726,14042.0,1470.131280,3146.791488,305.410488,48598,1750.264,train

In [4]:
visiting_team = "Monaco"
host_team = "Paris Saint-Germain"
df_emissions[
    (df_emissions["visiting_team"] == visiting_team)
    & (df_emissions["hosting_team"] == host_team)
]

,visiting_team,hosting_team,transport_type,emissions_kg_co2,emissions_kg_co2_wo_empty_bus,travel_time_seconds,distance_km,alternative_emissions_kg_co2,alternative_emissions_kg_co2_wo_empty_bus,alternative_travel_time_seconds,alternative_distance_km,alternative_transport_type
1,Monaco,Paris Saint-Germain,avion,16209.865726,13301.605726,17018.0,1523.65528,3213.670488,305.410488,48598,1750.264,train

In [5]:
df_emissions.columns

Index(['visiting_team', 'hosting_team', 'transport_type', 'emissions_kg_co2',
       'emissions_kg_co2_wo_empty_bus', 'travel_time_seconds', 'distance_km',
       'alternative_emissions_kg_co2',
       'alternative_emissions_kg_co2_wo_empty_bus',
       'alternative_travel_time_seconds', 'alternative_distance_km',
       'alternative_transport_type'],
      dtype='object')

In [6]:
scenarios_list_travels = []


for idx, row in df_emissions.iterrows():
    visiting_team = row["visiting_team"]
    hosting_team = row["hosting_team"]
    if visiting_team == hosting_team:
        continue
    original_transport_type = row["transport_type"]
    original_emissions_kg_co2 = row["emissions_kg_co2"]
    original_emissions_kg_co2_wo_empty_bus = row["emissions_kg_co2_wo_empty_bus"]
    original_travel_time_seconds = row["travel_time_seconds"]
    alternative_emissions_kg_co2 = row["alternative_emissions_kg_co2"]
    alternative_emissions_kg_co2_wo_empty_bus = row[
        "alternative_emissions_kg_co2_wo_empty_bus"
    ]
    alternative_travel_time_seconds = row["alternative_travel_time_seconds"]
    alternative_transport_type = row["alternative_transport_type"]
    # SA
    scenarios_list_travels.append(
        {
            "scenario": "SA",
            "visiting_team": visiting_team,
            "hosting_team": hosting_team,
            "transport_type": original_transport_type,
            "emissions_kg_co2": original_emissions_kg_co2,
            "travel_time_seconds": original_travel_time_seconds,
        }
    )
    scenarios_list_travels.append(
        {
            "scenario": "SA'",
            "visiting_team": visiting_team,
            "hosting_team": hosting_team,
            "transport_type": original_transport_type,
            "emissions_kg_co2": original_emissions_kg_co2_wo_empty_bus,
            "travel_time_seconds": original_travel_time_seconds,
        }
    )
    # if avion, we chang
    if original_transport_type == "avion":
        # S-3h
        if original_travel_time_seconds < 10800:
            emissions_kg_co2 = alternative_emissions_kg_co2
            travel_time_seconds = alternative_travel_time_seconds
            transport_type = alternative_transport_type
            emissions_kg_co2_wo_empty_bus = alternative_emissions_kg_co2_wo_empty_bus
        else:
            emissions_kg_co2 = original_emissions_kg_co2
            travel_time_seconds = original_travel_time_seconds
            transport_type = original_transport_type
            emissions_kg_co2_wo_empty_bus = original_emissions_kg_co2_wo_empty_bus
        scenarios_list_travels.append(
            {
                "scenario": "S-3h",
                "visiting_team": visiting_team,
                "hosting_team": hosting_team,
                "transport_type": transport_type,
                "emissions_kg_co2": emissions_kg_co2,
                "travel_time_seconds": travel_time_seconds,
            }
        )
        scenarios_list_travels.append(
            {
                "scenario": "S-3h'",
                "visiting_team": visiting_team,
                "hosting_team": hosting_team,
                "transport_type": transport_type,
                "emissions_kg_co2": emissions_kg_co2_wo_empty_bus,
                "travel_time_seconds": travel_time_seconds,
            }
        )

        # S-6h
        if original_travel_time_seconds < 21600:
            emissions_kg_co2 = alternative_emissions_kg_co2
            travel_time_seconds = alternative_travel_time_seconds
            transport_type = alternative_transport_type
            emissions_kg_co2_wo_empty_bus = alternative_emissions_kg_co2_wo_empty_bus
        else:
            emissions_kg_co2 = original_emissions_kg_co2
            travel_time_seconds = original_travel_time_seconds
            transport_type = original_transport_type
            emissions_kg_co2_wo_empty_bus = original_emissions_kg_co2_wo_empty_bus
        scenarios_list_travels.append(
            {
                "scenario": "S-6h",
                "visiting_team": visiting_team,
                "hosting_team": hosting_team,
                "transport_type": transport_type,
                "emissions_kg_co2": emissions_kg_co2,
                "travel_time_seconds": travel_time_seconds,
            }
        )
        scenarios_list_travels.append(
            {
                "scenario": "S-6h'",
                "visiting_team": visiting_team,
                "hosting_team": hosting_team,
                "transport_type": transport_type,
                "emissions_kg_co2": emissions_kg_co2_wo_empty_bus,
                "travel_time_seconds": travel_time_seconds,
            }
        )

        # S-NP
        if original_transport_type == "avion":
            emissions_kg_co2 = alternative_emissions_kg_co2
            travel_time_seconds = alternative_travel_time_seconds
            transport_type = alternative_transport_type
            emissions_kg_co2_wo_empty_bus = alternative_emissions_kg_co2_wo_empty_bus
        else:
            emissions_kg_co2 = original_emissions_kg_co2
            travel_time_seconds = original_travel_time_seconds
            transport_type = original_transport_type
            emissions_kg_co2_wo_empty_bus = original_emissions_kg_co2_wo_empty_bus
        scenarios_list_travels.append(
            {
                "scenario": "S-NP",
                "visiting_team": visiting_team,
                "hosting_team": hosting_team,
                "transport_type": transport_type,
                "emissions_kg_co2": emissions_kg_co2,
                "travel_time_seconds": travel_time_seconds,
            }
        )
        scenarios_list_travels.append(
            {
                "scenario": "S-NP'",
                "visiting_team": visiting_team,
                "hosting_team": hosting_team,
                "transport_type": transport_type,
                "emissions_kg_co2": emissions_kg_co2_wo_empty_bus,
                "travel_time_seconds": travel_time_seconds,
            }
        )

In [7]:
df_scenarios = pd.DataFrame(scenarios_list_travels)

In [8]:
# emissions per scenario per team
all_teams = set(df_scenarios["visiting_team"].unique().tolist()).union(
    df_scenarios["hosting_team"].unique().tolist()
)
print(all_teams)

{'Angers', 'Marseille', 'Lyon', 'Rennes', 'Saint-Ã‰tienne', 'Montpellier', 'Monaco', 'Lille', 'Nice', 'Strasbourg', 'Brest', 'Le Havre', 'Paris Saint-Germain', 'Lens', 'Reims', 'Toulouse', 'Nantes', 'Auxerre'}

In [9]:
df_emissions_per_scenario_per_team_per_transport_type = pd.DataFrame()
for team in all_teams:
    df_team = df_scenarios[
        (df_scenarios["visiting_team"] == team) | (df_scenarios["hosting_team"] == team)
    ]
    df_team = (
        df_team.groupby(["scenario", "transport_type"])[
            ["emissions_kg_co2", "travel_time_seconds"]
        ]
        .sum()
        .reset_index()
    )
    df_team.insert(0, "team", team)
    df_emissions_per_scenario_per_team_per_transport_type = pd.concat(
        [df_emissions_per_scenario_per_team_per_transport_type, df_team]
    )

In [ ]:
df_emissions_per_scenario_per_team_per_transport_type.to_csv(
    "./backend/data/calculated_travels/emissions_per_scenario_per_team_per_transport_type.csv",
    index=False,
)

In [11]:
df_emissions_per_scenario_per_team = (
    df_emissions_per_scenario_per_team_per_transport_type.groupby(["scenario", "team"])[
        ["emissions_kg_co2", "travel_time_seconds"]
    ]
    .sum()
    .reset_index()
)

In [ ]:
df_emissions_per_scenario_per_team[
    df_emissions_per_scenario_per_team["team"] == "Auxerre"
]

    scenario     team  emissions_kg_co2  travel_time_seconds
1       S-3h  Auxerre     141020.017001             686780.0
19     S-3h'  Auxerre     120933.619001             686780.0
37      S-6h  Auxerre      47147.428616             986692.0
55     S-6h'  Auxerre      36914.734616             986692.0
73      S-NP  Auxerre      47147.428616             986692.0
91     S-NP'  Auxerre      36914.734616             986692.0
109       SA  Auxerre     289416.349744             439706.0
127      SA'  Auxerre     247381.936744             439706.0

In [ ]:
df_emissions_per_scenario = (
    df_emissions_per_scenario_per_team.groupby(["scenario"])[
        ["emissions_kg_co2", "travel_time_seconds"]
    ]
    .sum()
    .reset_index()
)

In [14]:
df_emissions_per_scenario

  scenario  emissions_kg_co2  travel_time_seconds
0     S-3h      5.360596e+06            8947944.0
1    S-3h'      4.410055e+06            8947944.0
2     S-6h      1.453808e+06           20353384.0
3    S-6h'      6.120027e+05           20353384.0
4     S-NP      1.453808e+06           20353384.0
5    S-NP'      6.120027e+05           20353384.0
6       SA      6.563206e+06            8556976.0
7      SA'      5.500772e+06            8556976.0

In [ ]:
4.410055e06 / 6.563206e06

0.6719360934275109