In [1]:
import pandas as pd

In [ ]:
df_train_ugo = pd.read_csv("./backend/data/calculated_travels/train_emissions.csv")
df_plane_ugo = pd.read_csv("./backend/data/calculated_travels/flight_emissions.csv")
df_car_ugo = pd.read_csv("./backend/data/calculated_travels/car_emissions.csv")

        travel_time     distance     emissions
count    153.000000   153.000000    153.000000
mean   20767.666667   608.280797   6335.852786
std    10650.989596   323.103590   3365.446992
min        0.000000     0.000000      0.000000
25%    12543.000000   352.754000   3674.285664
50%    19962.000000   582.051000   6062.643216
75%    28864.000000   831.848000   8664.528768
max    48865.000000  1457.001000  15176.122416

In [32]:
df_train_michel = pd.read_csv("./Train calculation/emission_carbone_match.csv")
df_plane_michel = pd.read_csv("./Plane calculation/flight_emissions.csv")
df_car_michel = pd.read_csv("./Train calculation/trajet_voiture.csv")

In [21]:
df_car_ugo["emissions"] = df_car_ugo["emissions"]/1_000

In [18]:
df_car_michel["emission"] = df_car_michel["emission"]/1_000_000
df_car_michel["distance"] = df_car_michel["distance"]/1_000

In [22]:
df_car_ugo

,departure,arrival,travel_time,distance,emissions,transport_type
0,Angers,Auxerre,13603,406.851,4.237760,car
1,Angers,Brest,13635,376.073,3.917176,car
2,Angers,Le Havre,10848,325.602,3.391470,car
3,Angers,Lens,17350,490.871,5.112912,car
4,Angers,Lille,17794,509.032,5.302077,car
...,...,...,...,...,...,...
148,Rennes,Saint-Étienne,22897,698.413,7.274670,car
149,Rennes,Toulouse,23083,705.590,7.349425,car
150,Strasbourg,Saint-Étienne,19962,553.044,5.760506,car
151,Strasbourg,Toulouse,33885,978.071,10.187588,car
152,Saint-Étienne,Toulouse,17988,540.074,5.625411,car

In [41]:
df_car_michel

     Unnamed: 0                         trajet  distance   time  emission
0             0                Angers;-Auxerre    406851  13700  24411060
1             1                  Angers;-Brest    376073  13709  22564380
2             2               Angers;-Le Havre    325602  10927  19536120
3             3                   Angers;-Lens    490871  17538  29452260
4             4                  Angers;-Lille    509031  17969  30541860
..          ...                            ...       ...    ...       ...
301         301  Toulouse;-Paris Saint-Germain    679067  23222  40744020
302         302                Toulouse;-Reims    818122  28085  49087320
303         303               Toulouse;-Rennes    704581  23125  42274860
304         304           Toulouse;-Strasbourg    974202  34083  58452120
305         305        Toulouse;-Saint-Étienne    538555  17883  32313300

[306 rows x 5 columns]

In [ ]:
406.851*30*2(*50)

24411.06

24.41106

In [ ]:
406851

In [40]:
df_plane_michel[["name", "distance (in km)", "fuel consumption (in kg)", "Emission plane (in kg)"]]

,name,distance (in km),fuel consumption (in kg),Emission plane (in kg)
0,Angers;-Auxerre,287.115099,2141.599935,12478.996503
1,Angers;-Brest,320.814662,2241.805868,13062.891497
2,Angers;-Le Havre,203.333978,1892.476072,11027.364118
3,Angers;-Lens,416.357493,2525.903274,14718.312976
4,Angers;-Lille,416.357493,2525.903274,14718.312976
...,...,...,...,...
301,Toulouse;-Paris Saint-Germain,572.215180,2989.347406,17418.778928
302,Toulouse;-Reims,689.845194,3339.121236,19456.893671
303,Toulouse;-Rennes,547.456340,2915.726790,16989.795252
304,Toulouse;-Strasbourg,770.667035,3579.445654,20857.252124
305,Toulouse;-Saint-Étienne,313.775875,2220.875974,12940.934042

In [45]:
2271/60

37.85

In [46]:
323*1.1274 + 282.8615

647.0117

In [ ]:
(632.395422 * 3.15)

1992.0455793

In [38]:
df_plane_ugo

,departure,arrival,travel_time,distance,emissions,transport_type,flight_distance,flight_time,autocar_distance,autocar_time,fuel_consumption,plane_emission,autocar_emission,added_details
0,Angers,Auxerre,4525,322.980099,4357.660997,plane,287.115099,2271,35.865,2254,632.395422,1992.045578,186.784920,NaN
1,Angers,Brest,4373,355.819662,4607.166080,plane,320.814662,2417,35.005,1956,673.421270,2121.277000,182.306040,NaN
2,Angers,Le Havre,4888,260.594978,3937.952369,plane,203.333978,1908,57.261,2980,530.400285,1670.760897,298.215288,NaN
3,Angers,Lens,5957,476.104315,5597.294819,plane,416.488315,2831,59.616,3126,789.894375,2488.167281,310.480128,NaN
4,Angers,Lille,4673,449.428315,5319.437603,plane,416.488315,2831,32.940,1842,789.894375,2488.167281,171.551520,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Rennes,Saint-Étienne,4792,560.154017,6138.786540,plane,538.092017,3358,22.062,1434,937.934722,2954.494374,114.898896,NaN
143,Rennes,Toulouse,5218,571.385340,6230.054011,plane,547.456340,3399,23.929,1819,949.334849,2990.404774,124.622232,NaN
144,Strasbourg,Saint-Étienne,3796,474.524646,5459.293537,plane,460.745646,3023,13.779,773,843.773250,2657.885737,71.761032,No autocar departure route found
145,Strasbourg,Toulouse,8697,848.418035,8502.605172,plane,770.667035,4366,77.751,4331,1221.071549,3846.375378,404.927208,NaN
146,Saint-Étienne,Toulouse,4275,342.526875,4488.039589,plane,313.775875,2386,28.751,1889,664.852250,2094.284586,149.735208,NaN